#list-regular-product{
    display: none;
}
#table-popular-product{
    margin-top: 12px;
}
#regular-product-list{
    padding-right:20px; 
    border-right: 1px solid #ccc;
}
#popular-product-list{
    padding-left:20px; 
    border-left: 1px solid #ccc;
}
#table-regular-product_paginate{
    float: left;
}
#table-popular-product_paginate{
    float: left;
}