.badge-placed{
    background-color: #696969;
    color: white;
}
.badge-accepted{
    background-color: #8A2BE2;
    color: white;
}
.badge-payment-pending{
    background-color: #696969;
    color: white;
}
.badge-payment-ok{
    background-color: #FF0000;
    color: white;
}
.badge-packaging{
    background-color: #8A2BE2;
    color: white;
}
.badge-packaged{
    background-color: #8A2BE2;
    color: white;
}
.badge-shipped{
    background-color: #8A2BE2;
    color: white;
}
.badge-delivered{
    background-color: #02BFB5;
    color: white;
}
.badge-success{
    background-color: #27AE60;
    color: white;
}
.badge-complained{
    background-color: #FF0000;
    color: white;
}
.badge-complained-resolved{
    background-color: #27AE60;
    color: white;
}
.badge-canceled{
    background-color: #FF0000;
    color: white;
}
.badge-rejected{
    background-color: #FF0000;
    color: white;
}